# Python
__pycache__/
*.py[cod]

# HTML e PDF gerados
*.html
*.pdf

# Artefatos de compilação LaTeX
relatorio/*.aux
relatorio/*.log
relatorio/*.out
relatorio/*.toc
relatorio/*.lof
relatorio/*.lot
relatorio/*.lol
relatorio/*.blg
relatorio/*.bbl
relatorio/*.fls
relatorio/*.fdb_latexmk
relatorio/*.synctex.gz
relatorio/_minted*/
